<div class="row">
    <div class="card">
        <p style="display: none;" id="getid">{{infor._id}}</p>
        <div class="card-header">
            <h1>Thông tin chi tiết địa chỉ giao hàng</h1>
        </div>
        <div class="card-body">
            <table id="" class="table dt-responsive">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Họ và tên</t>
                        <th>{{infor.fullname}}</th>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <th>{{infor.phone}}</th>
                    </tr>
                    <tr>
                        <td>Đ/c chi tiết</td>
                        <th>{{infor.add}}</th>
                    </tr>
                    <tr>
                        <td>Xã/Phường</td>
                        <th>{{infor.ward}}</th>
                    </tr>
                    <tr>
                        <td>Quận/Huyện</td>
                        <th>{{infor.district}}</th>
                    </tr>
                    <tr>
                        <td>Thành phố/Tỉnh</td>
                        <th>{{infor.city}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        {{#if infor.updatedAt}}
                         <p>Ngày cập nhật gần nhất: {{formatDateViewDetail infor.updatedAt}} </p>
                        {{else}}
                          <p style="color: orange">Thông tin chưa được cập nhật lần nào</p>
                        {{/if}}
    </div>

</div>
<div class="modal fade " id="update_address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật địa chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_address">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="productname">Họ và tên</label>
                                <input id="fullname" name="productname" type="text" value="{{infor.fullname}}"
                                    class="form-control productname">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="productname">Số điện thoại</label>
                                <input id="phone" name="productname" type="text" value="{{infor.phone}}"
                                    class="form-control productname">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="mb-3">
                                <label for="choices-single-groups" class="form-label font-size-13 text-muted">Tỉnh/Thành
                                    phố</label>
                                <select class="form-control" data-trigger name="choices-single-groups" id="city">
                                    <option value="">{{infor.city}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="mb-3">
                                <label for="choices-single-groups"
                                    class="form-label font-size-13 text-muted">Quận/Huyện</label>
                                <select class="form-control" data-trigger name="choices-single-groups" id="district">
                                    <option value="">{{infor.district}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="mb-3">
                                <label for="choices-single-groups"
                                    class="form-label font-size-13 text-muted">Xã/Phường</label>
                                <select class="form-control" data-trigger name="choices-single-groups" id="ward">
                                    <option value="">{{infor.ward}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="message-text" class="col-form-label">Địa chỉ chi tiết</label>
                            <textarea class="form-control" id="address">{{infor.add}}</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="update_local" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap gap-2" style="float:right">
     <a id="delete_add" type="button" class="btn btn-danger waves-effect waves-light">Xóa địa chỉ</a>
    <button data-bs-toggle="modal" id="update_add" data-bs-target="#update_address"
        class="btn btn-warning waves-effect waves-light">Cập nhật</button>
    <a href="./address" type="button" class="btn btn-secondary waves-effect waves-light">Quay lại danh sách
        địa chỉ</a>
</div>
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/update_add.js"></script>